.H1_apropos {
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
}

.Box_texte {
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 450px;
  
}

#Zone_Photo {
    height: fit-content;
}

#Photo {
    width: 20%;
    border-radius: 20px;
    box-shadow: 10px 10px 30px;
}

#Haut {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Btn_cv {
    font-family: "Quicksand", sans-serif;
	background-color:#ffffff8e;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
#Btn_cv:hover {
	background-color:#ffffffab;
}
#Btn_cv:active {
	position:relative;
	top:1px;
}

#Bas{
    display: flex;
    justify-content: space-around;
    
}

#separateur{
    width: 100%;
    height: 2px;
    background-color: white;
}
